---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const path = posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });

  return path;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="Esto es una prueba de un blog">
  <section class="px-14 lg:px-64">
    <h1 class="mb-10 text-xl lg:text-5xl font-bold mt-14">
      {post.data.title}
    </h1>
    <Image
      width={1024}
      height={1024 / 4}
      class="rounded-lg"
      src={post.data.image}
      alt={post.data.title}
      format="webp"
    />
    <div
      class="mt-10 prose-sm mb-20 text-white prose-headings:text-white prose-headings:font-bold prose-headings:py-5 md:prose-xl"
    >
      <Content />
    </div>
  </section>
</Layout>
